html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.disable-scroll {
  overflow-y: hidden;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.active {
  border-bottom: 3px solid #fa5757 !important;
}

.hamburger {
  z-index: 20;
  position: fixed;
  right: 25px;
  top: 20px;
  display: none !important;
}

.nav-active {
  opacity: 1 !important;
  z-index: 15 !important;
}

.remove-click {
  cursor: default;
  pointer-events: none;
}

@-webkit-keyframes fadeText {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeText {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

.nav {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s all cubic-bezier(0.82, 0.01, 0.2, 0.99);
  transition: 0.3s all cubic-bezier(0.82, 0.01, 0.2, 0.99);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  list-style-type: none;
  padding: 1.1rem 3.5rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: #252b46;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav__link:hover {
  color: #fa5757;
}

.nav__link--red {
  background-color: #fa5757;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 2px solid #fa5757;
}

.nav__link--red:hover {
  background-color: #fff;
}

.blue {
  padding: 8rem 0;
  background-color: #5368df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-top: 5rem;
}

.blue__content {
  text-align: center;
}

.blue__content p {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 3rem;
  letter-spacing: 5px;
}

.blue__content h3 {
  font-size: 4rem;
  width: 75%;
  margin: 0 auto 3rem auto;
}

.blue__input input {
  margin-right: 1.5rem;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 1.5rem 3rem;
  width: 250px;
  font-size: 1.5rem;
}

.blue__input a {
  font-size: 1.5rem;
  background-color: #fa5757;
  padding: 1.3rem 3rem;
  border-radius: 5px;
  border: 2px solid #fa5757;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.blue__input a:hover {
  color: #fa5757;
  background-color: #fff;
}

.header {
  height: 100vh;
  color: #252b46;
}

.header__content {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  width: 100%;
}

.header__text h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.header__text p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 150%;
  width: 80%;
  color: #9699a6;
}

.header__btn {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #9699a6;
  font-size: 1.8rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 2px solid #9699a6;
  width: 160px;
}

.header__btn:hover {
  background-color: #fff;
  color: #9699a6;
}

.header__btn--blue {
  background-color: #5368df;
  margin-right: 2rem;
  border: 2px solid #5368df;
}

.header__btn--blue:hover {
  color: #5368df;
}

.header__img {
  width: 100%;
}

.header__img img {
  width: 100%;
}

.section-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.section-text h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.section-text p {
  font-size: 2rem;
  color: #9699a6;
  line-height: 150%;
  width: 65%;
  margin: 0 auto;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.features__anchor {
  padding: 3rem;
  font-size: 2rem;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.features__anchor:hover {
  color: #fa5757;
}

.features__tabs {
  padding: 8rem 0;
}

.features__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__tab .tab__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__tab .tab__text h3 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.features__tab .tab__text p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: #9699a6;
}

.features__tab .tab__text a {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  background-color: #5368df;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #5368df;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.features__tab .tab__text a:hover {
  background-color: #fff;
  color: #5368df;
}

.features__tab .tab__text__container {
  width: 65%;
}

.features__tab .tab__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features__tab .tab__img img {
  width: 70%;
}

.tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-hidden {
  display: none;
}

.browsers {
  padding: 5rem 0;
}

.browsers__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 0;
}

.browsers__card {
  height: 300px;
  text-align: center;
  padding: 5rem 2rem;
  margin: 0 2rem;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.3);
  border-radius: 10px;
}

.browsers__card h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.browsers__card p {
  font-size: 1.6rem;
  color: #9699a6;
}

.browsers__card a {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  background-color: #5368df;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  border: 2px solid #5368df;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.browsers__card a:hover {
  background-color: #fff;
  color: #5368df;
}

.browsers__card--2 {
  margin-top: 4rem;
}

.browsers__card--3 {
  margin-top: 8rem;
}

.browsers .card__logo {
  margin-bottom: 3rem;
}

.browsers .card__dots {
  margin: 3rem 0;
}

.footer {
  padding: 5rem 0;
  background-color: #252b46;
}

.footer__content {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav object {
  fill: #fff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  padding: 0 2.5rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__link:hover {
  color: #fa5757;
}

.footer__icons img {
  padding: 0 2.5rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */