//Nav
.nav {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all cubic-bezier(0.82, 0.01, 0.2, 0.99);

  &__list {
    display: flex;
  }

  &__link {
    list-style-type: none;
    padding: 1.1rem 3.5rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: $dark-blue;
    transition: 0.2s all;

    &:hover {
      color: $soft-red;
    }

    &--red {
      background-color: $soft-red;
      border-radius: 5px;
      color: #fff;
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
      transition: 0.2s all;
      border: 2px solid $soft-red;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
