//Footer
.footer {
  padding: 5rem 0;
  background-color: $dark-blue;

  &__content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;

    object {
      fill: #fff;
    }
  }

  &__list {
    display: flex;
  }

  &__link {
    padding: 0 2.5rem;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s all;

    &:hover {
      color: $soft-red;
    }
  }

  &__icons {
    img {
      padding: 0 2.5rem;
      cursor: pointer;
    }
  }
}
